p{color:red;
  width: 500px;
  border: 1px solid black;
  }
h1{color:blue;}
body{background-color: 255,255,255,0.6;
background: pink;}
html {
  font-size: 10px; 
  font-family: "Open Sans", sans-serif; 